.modal {
    float: right;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    padding-right: 10px;
    border: 1px solid #888;
    width: 80%; 
  }
  .modal-content div {
    margin-bottom: 10px; /* Add some space between input fields */
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  button {
    margin-left: 10px;
  }
  
  .Add-Group {
    background-color: lightblue;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .Add-Group:hover {
    background-color: skyblue;
  }
  